// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.spot-focus{
	min-height: 100%;

   background: url('http://res.cloudinary.com/swell/image/upload/v1450226800/Unknown-1620x1080_ugchnu.jpg') no-repeat center center;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.center {
	text-align: center;
    margin: auto;
    width: 30%;
    border: 3px solid #73AD21;
    padding: 10px;
}