// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  overflow: auto;
}

.fullscreen * {
  position: float-left;
}

.splash {
	max-width: 1620px;
   background: image-url('ocean-beach.jpg') no-repeat center bottom;
}

.logo {
  position: float;
}

body {
  color: white;
}

.center-text {
  text-align: center;
}

.hello {
  color: white;
  background: #000;
}

.feature-box {
  border-style: solid;
  border-color: green;
}

.spot-preview {
  border-style: solid;
  border-style: blue;
  display: inline;
  float: left;
}